body {
    background: #b8b8b8;
    font-family: Arial, Helvetica, sans-serif;
}

.back-button-container {
    margin-top: 5px;
    margin-left: -5px;
}

.back-button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f3;
    border: none;
    color: black;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    font-size: 11px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #dfdfdf;
}
.header-container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.header-button-container{
    margin-top: 15px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.new-part-button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0099ff;
    border: none;
    color: white;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 14px;
    cursor: pointer;
    max-width: 150px;
}

.new-part-button:hover {
    background-color: #007dd1;
}

.part-button {
    flex-basis: calc(25% - 10px);
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4CAF50;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    text-align: left;
}

.part-button:hover {
    background-color: #45a049;
}

.part-form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 360px;
    margin: auto;
    padding: 45px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #ffffff;
  }

.part-form-popup input {
    font-family: Arial, Helvetica, sans-serif;
    background: #afafaf;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: left;
}

.part-form-popup button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4CAF50;
    width: 100%;
    border: 0;
    border-radius: 8px;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

.part-form-popup button:hover {
    background-color: #45a049;
}

.message {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #b3b3b3;
    font-size: 13px;
    cursor: pointer;
}