<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="loginStyle.css">
  <title> Login Page </title>
</head>

<body>
  <div class="login-page">
    <div class="login">
      <div class="login-header">
        <h1>LOGIN</h1>
      </div>
    </div>
    <form class="form" action="#" th:action="@{/login}" th:object="${userDetails}" method="post">
      <input type="text" placeholder="Username" th:field="*{username}"/>
      <input type="password" placeholder="Password" th:field="*{password}"/>
      <button>LOGIN</button>
      <p class="message"> <a href="./register">Create an account</a>&nbsp;&nbsp;&nbsp;&nbsp;</p>
    </div>
  </div>
</body>

</html>