<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Optimise</title>
</head>

<body>
    <h1 th:text="${part.partName}"></h1>
    <h3 th:text="${part.partDescription}"></h3>
    <br>

    <h2><strong>Optimisation Parameters</strong></h2>
    <h3>Iteration Limit:</h3><span th:text="${opParams.iterations}"></span>
    <h3>Modules:</h3>
    <ol th:each="var : ${opParams.modules}">
        <li th:text="${var}"></li>
    </ol>

    <div class="opParams-form-popup" id="op-form" style="display:block;">
        <form class="form" action="#" th:action="@{'/projects/' + ${projectName} + '/' + ${part.partId} + '/optimise'}" th:object="${newOp}" method="post">
            <h1>Change Optimisation Parameters</h1>

            <label for="opParamsIterations"><b>Iteration Limit</b></label>
            <input type="number" th:placeholder="'Current: ' + ${opParams.iterations}" th:field="*{iterations}" th:value="${opParams.iterations}"/>

            <label for="opParamsModuleChoices"><b>Modules</b></label>
            <div id="Options">
                <div class="moduleOption">
                    <select class="selectedModule" id="module" th:each="var : ${opParams.modules}">
                        <option th:value="${var}" th:text="${var.fileName}"></option>
                    </select>
                    <button type="button" onclick="addModOption(this.parentNode)">Add</button>
                    <button type="button" onclick="delModOption(this)">Delete</button>
                </div>
            </div>
            
            <input type="hidden" id="selectedModules" name="selectedModules"/>

            <button type="submit" onclick="createList()">Submit</button>
        </form>
    </div>
</body>
<script>
    const insertAfter = (el, htmlString) => 
            el.insertAdjacentHTML('afterend', htmlString);    

    function addModOption(option){
        // var container = document.createElement('div');
        // container.classList.add("moduleOption");

        // var select = document.createElement('select');
        // select.id = 'module';
        // select.classList.add("selectedModule");

        // // console.log(opParams)

        // opParams.modules.forEach(function(module){
        //     var option = document.createElement('option');
        //     console.log(module);
        //     option.value = module.fileId;
        //     option.textContent=module.fileName;
        //     select.appendChild(option);
        // })

        // var addButton = document.createElement('button');
        // addButton.type = 'button';
        // addButton.textContent = 'Add';
        // addButton.onclick = function() {
        //     addModOption(opParams);
        // }

        // var deleteButton = document.createElement('button');
        // deleteButton.type = 'button';
        // deleteButton.textContent = 'Delete';
        // deleteButton.onclick = function() {
        //     delModOption(this);
        // }

        // container.appendChild(select);
        // container.appendChild(addButton);
        // container.appendChild(deleteButton);

        // // console.log(container);

        // document.getElementById("Options").append(container);
        var newModuleOption = option.cloneNode(true);

        newModuleOption.querySelector('select').selectedIndex = -1;
        document.getElementById("Options").append(newModuleOption);
    }

    function delModOption(button){
        document.getElementById("Options").removeChild(button.parentNode);

    }

    function createList(){
        var selected = document.getElementsByClassName("selectedModule");
        console.log(selected)
        let data = [];
        for (let i=0; i<selected.length; i++){
            console.log(selected[i].value);
            data.push(selected[i].value);
        }
        console.log(data);
        let hiddenInput = document.getElementById("selectedModules")
        hiddenInput.value = data;
        console.log(hiddenInput.value)
    }
</script>
</html>