<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Optimise</title>
</head>

<body>
    <h1 th:text="${part.partName}"></h1>
    <h3 th:text="${part.partDescription}"></h3>
    <br>

    <h2><strong>Optimisation Parameters</strong></h2>
    <h3>Iteration Limit:</h3><span th:text="${opParams.iterations}"></span>
    <h3>Modules:</h3>
    <ol>
        <li th:each="var : ${currentModules}" th:text="${var.fileName}"></li>
    </ol>
    <h3>Optimisation Problem:</h3>
    <span th:if="${opParams.maximising}">Maximisation</span>
    <span th:if="${!opParams.maximising}">Minimisation</span>

    <br>
    <button onclick="addOpForm()">Set Parameters</button>

    <div class="opParams-form-popup" id="op-form" style="display:none;">
        <form class="form" action="#" th:action="@{'/projects/' + ${projectName} + '/' + ${part.partId} + '/optimise'}" th:object="${opParams}" method="post">
            <h1>Change Optimisation Parameters</h1>
            <label for="opParamsIterations"><b>Iteration Limit</b></label>
            <input type="number" th:placeholder="'Current: ' + ${opParams.iterations}" th:field="*{iterations}" th:value="${opParams.iterations}"/>

            <label for="opParamsMaximisation"><b>Choose Problem Type</b></label>
            <select th:field="*{maximising}">
                <option th:value="1">Maximisation</option>
                <option th:value="0">Minimisation</option>
            </select>
            <label for="opParamsModuleChoices"><b>Modules</b></label>
            <div id="Options">
                <div class="moduleOption">
                    <select class="selectedModule" id="module">
                        <option th:each="var : ${allModules}" th:value="${var.fileId}" th:text="${var.fileName}"></option>
                    </select>
                    <button type="button" onclick="addModOption(this.parentNode)">Add</button>
                    <button type="button" onclick="delModOption(this)">Delete</button>
                </div>
            </div>
            
            <input type="hidden" id="selectedModules" name="selectedModules"/>

            <button type="submit" onclick="createModuleList()">Submit</button>
        </form>

        <p class="message" onclick="cancelForm()">Cancel Changes</p>
    </div>

    <br>
    <!-- <div>
        <a th:href="@{'/optimise/projects/' + ${projectName} + '/' + ${part.partId}}">
            <button type="button">Click This</button>
        </a>
    </div> -->


    <div style="float: right;">
        <table>
            <tr>
                <th>Module</th>
                <th>Variables</th>
            </tr>
            <tr th:each="currentMod, iter : ${currentModules}" th:id="'row-'+${iter.index}">
                <td th:text="${currentMod.fileName}"></td>
                <td th:id="'entry-'+${iter.index}">
                    <div class="varOption">
                        <select class="selectedVar">
                            <option th:each="var : ${variables}" th:value="${var.variableId}" th:text="${var.variableName}"></option>
                        </select>
                        <button type="button" onclick="addVarOption(this.parentNode, this.parentNode.parentNode.id)">Add</button>
                        <button type="button" onclick="delVarOption(this, this.parentNode.parentNode.id)">Delete</button>
                    </div>
                </td>
            </tr>
        </table>
        <form>
            <input type="hidden" id="hiddenVariables" value=""/>
            <button type="submit" onclick="createVariableList()">Submit</button>
        </form>
    </div>
</body>
<script>
    const insertAfter = (el, htmlString) => 
            el.insertAdjacentHTML('afterend', htmlString);  

    function addModOption(option){
        var newModuleOption = option.cloneNode(true);

        newModuleOption.querySelector('select').selectedIndex = -1;
        document.getElementById("Options").append(newModuleOption);
    }

    function delModOption(button){
        document.getElementById("Options").removeChild(button.parentNode);

    }

    function addVarOption(option, id){
        var newVariableOption = option.cloneNode(true);

        newVariableOption.querySelector('select').selectedIndex -=1;
        document.getElementById(id).append(newVariableOption);
    }

    function delVarOption(button, id){
        document.getElementById(id).removeChild(button.parentNode);
    }

    function createModuleList(){
        var selected = document.getElementsByClassName("selectedModule");
        let data = [];
        for (let i=0; i<selected.length; i++){
            console.log(selected[i].value);
            data.push(selected[i].value);
        }
        let hiddenInput = document.getElementById("selectedModules")
        hiddenInput.value = data;
    }

    function addOpForm(){
        document.getElementById("op-form").style.display="block";
    }

    function cancelForm() {
        document.getElementById("op-form").style.display = "none";
    }

    function createVariableList() {
        let i = 0
        let hiddenInput = document.getElementById("hiddenVariables");
        var tableEntry = document.getElementById("entry-"+String(i));
        let data = [];
        while (tableEntry != null){
            var options = tableEntry.getElementsByClassName("selectedVar");
            let eachEntry = [];
            for (let j=0; j<options.length; j++){
                eachEntry.push(options[j].value);
            }
            i += 1;
            tableEntry = document.getElementById("entry-"+String(i));
            data.push(eachEntry);
        }
        console.log(data);
        hiddenInput.value = data;
        // var tab1 = document.getElementById("entry-0");
        // var tab2 = document.getElementById("entry-1");
        // var tab3 = document.getElementById("entry-2");
        // var tab4 = document.getElementById("entry-3");
        // var option1 = tab1.getElementsByClassName("selectedVar");
        // var option2 = tab2.getElementsByClassName("selectedVar");
        // var option3 = tab3.getElementsByClassName("selectedVar");
        // var option4 = tab4.getElementsByClassName("selectedVar");
        // console.log(tab1);
        // console.log(option1);
        // console.log(tab2);
        // console.log(option2);
        // console.log(tab3);
        // console.log(option3);
        // console.log(tab4);
        // console.log(option4);

    }
</script>
</html>