<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/optimisationStyle.css}">
    <meta charset="UTF-8">
    <title th:text="${part.partName}"></title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
</head>

<body>
    <div class="back-button-container">
        <a th:href="@{'/projects/' + ${projectName}}">
            <button class="back-button">
                <strong>&lt;&lt;Previous</strong>
            </button></a>
    </div>

    <div class = "header-container">
        <h1 th:text="${part.partName}"></h1>
        <div class = "button-container">
            <button class="new-variable-button" onclick="addVarForm()">NEW VARIABLE</button>
        </div>
    </div>    

    <table class="variable-table">
        <thead>
            <tr>
                <th>Variable Name</th>
                <th>Initial Value</th>
                <th>Lower Bound</th>
                <th>Upper Bound</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="var : ${currentVariables}">
                <td th:text="${var.variableName}"></td>
                <td th:text="${var.initVal}"></td>
                <td th:text="${var.lowBound}"></td>
                <td th:text="${var.upBound}"></td>
            </tr>
        </tbody>
    </table>
   
    <br>
    <br>

    <div class="variable-form-popup" id="var-form" style="display:none;">
        <form class="form" action="#" th:action="@{'/projects/' + ${projectName} + '/' + ${part.partId}}" th:object="${variable}" method="post">
            <h1>Add Variable</h1>

            <label for="variableName"><b>Name</b></label>
            <input type="text" placeholder="Name" th:field="*{variableName}" required/>
            <br>
            <label for="initVal"><b>Initial Value</b></label>
            <input type="number" step="any" placeholder="Initial" th:field="*{initVal}" required/>
            <br>
            <label for="lowBound"><b>Lower Bound</b></label>
            <input type="number" step="any" placeholder="Lower" th:field="*{lowBound}" required/>
            <br>
            <label for="upBound"><b>Upper Bound</b></label>
            <input type="number" step="any" placeholder="Upper" th:field="*{upBound}" required/>

            <button type="submit">Submit</button>
        </form>
        <p class="message" onclick="cancelVar()">Cancel new variable</p>
    </div> 

    <div class="upload-form">
        <form method="POST" enctype="multipart/form-data" action="#" th:action="@{'/projects/varsfile/' + ${projectName} + '/' + ${part.partId}}">
            <div class="form-group">
                <label for="file">Upload File:</label>
                <input class="file-input" type="file" name="file" id="file" />
                <button class="upload-button" type="submit">Upload</button>
            </div>
        </form>
    </div>
    <div>
        <ul class="file-list">
            <li th:each="file : ${files}">
                <a th:href="${file}" th:text="${file}"></a>
            </li>
        </ul>
    </div>

    <div class="header-container">
        <h1>Results</h1>
        <div class="button-container">
            <a th:href="@{'/projects/' + ${projectName} + '/' + ${part.partId} + '/optimise'}">
                <button class="optmisation-button">
                    <strong th:text="Optimise"></strong>
                </button>
            </a>
        </div>
    </div>
    <span th:if="${results.isEmpty()}">No Current Results</span>
    <span th:if="${not results.isEmpty()}">
        
        <div class="table-controls">
            
        </div>
        
        <table class="result-table" id="results-table">
            <thead>
                <tr>
                    <th>Result Id</th>
                    <th>Variables Values</th>
                    <th>Output Value</th>
                    <th>Fitness</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="r : ${results}">
                    <td th:text="${r.resultId}"></td>
                    <td>
                        <ul>
                            <li th:each="var : ${r.variables}" th:text="${var.variableName} + ' : ' + ${var.initVal}"></li>
                        </ul>
                    </td>
                    <td th:text="${r.outputValue}"></td>
                    <td th:text="${r.fitnessLevel}"></td>
                </tr>
            </tbody>
        </table>
    </span>
</body>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready( function () {
        var table = $('#results-table').DataTable();
        var tableControls = $(".dataTables_length, .dataTables_filter");
        $(".table-controls").append(tableControls);
    });
</script>
<script>
    function addVarForm() {
        document.getElementById("var-form").style.display = "block";
    }
    function cancelVar() {
        document.getElementById("var-form").style.display ="none";
    }
</script>
</html>