<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <!--  <link rel="stylesheet" href="style.css">  -->
    <meta charset="UTF-8">
    <title th:text="${part.partName}"></title>
</head>

<body>
    <h1 th:text="${part.partName}"></h1>
    <h3 th:text="${part.partDescription}"></h3>
    <ul th:each="var : ${currentVariables}">
        <li th:text="${var}"></li>
    </ul>

    <button onclick="addVarForm()">Add Variable</button>

    <div class="variable-form-popup" id="var-form" style="display:none;">
        <form class="form" action="#" th:action="@{'/projects/' + ${projectName} + '/' + ${part.partId}}" th:object="${variable}" method="post">
            <h1>Add Variable</h1>

            <label for="variableName"><b>Name</b></label>
            <input type="text" placeholder="Name" th:field="*{variableName}" required/>

            <label for="initVal"><b>Initial Value</b></label>
            <input type="number" placeholder="Initial" th:field="*{initVal}" required/>

            <label for="lowBound"><b>Lower Bound</b></label>
            <input type="number" placeholder="Lower" th:field="*{lowBound}" required/>

            <label for="upBound"><b>Upper Bound</b></label>
            <input type="number" placeholder="Upper" th:field="*{upBound}" required/>

            <button type="submit">Submit</button>
        </form>
    </div> 

    <div>
		<form method="POST" enctype="multipart/form-data" action="#" th:action="@{'/projects/varsfile/' + ${projectName} + '/' + ${part.partId}}">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>
    <div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}"></a>
			</li>
		</ul>
	</div>

    <div style="float: right;">
        <h2>Results</h2>
        <span th:if="${results.isEmpty()}">No Current Results</span>
        <span th:if="${not results.isEmpty()}">
            <table>
                <tr>
                    <th>Result Id</th>
                    <th>Variables Values</th>
                    <th>Output Value</th>
                    <th>Fitness</th>
                </tr>
                <tr th:each="r : ${results}">
                    <th th:text="${r.resultId}"></th>
                    <th>
                        <ul>
                            <li th:each="var : ${r.variables}" th:text="${var.variableName} + ' : ' + ${var.initVal}"></li>
                        </ul>
                    </th>
                    <th th:text="${r.outputValue}"></th>
                    <th th:text="${r.fitnessLevel}"></th>
                </tr>
            </table>
        </span>
    </div>
</body>

<script>
    function addVarForm() {
        document.getElementById("var-form").style.display = "block";
    }
</script>
</html>