<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/partStyle.css}">
    <meta charset="UTF-8">
    <title th:text="${project.projectName}"></title>
</head>

<body>
    <div class="header-container">
        <h1 th:text="${project.projectName}">Project Name: </h1>
        <button class="new-part-button" onclick="addPart()">NEW PART</button>
    </div>
    <div class="button-container">
        <button class="part-button" th:each="p : ${parts}">
            <a th:href="@{${project.projectName} + '/' + ${p.partId}}">
                <strong th:text="${p.partName}"></strong>
            </a>
            <br>
            <span th:text="${p.partDescription}"></span>
        </button>
    </div>

    <div class="part-form-popup" id="part-form" style="display:none;">
        <form class="form" action="#" th:action="@{'/projects/' + ${project.projectName}}" th:object="${newPart}" method="post">
            <h2>New Part</h2>

            <label for="partName"><b>Part Name</b></label>
            <input type="text" placeholder="Part Name" th:field="*{partName}" required />
            <br>
            <label for="partDescription"><b>Part Description</b></label>
            <input type="text" placeholder="Part Description" th:field="*{partDescription}" required />

            <button type="submit">Submit</button>
        </form>
        <p class="message" onclick="cancelPart()">Cancel new part</p>
    </div>

</body>

<script>
    function addPart(){
        document.getElementById("part-form").style.display= "block";
    }

    function cancelPart() {
        document.getElementById("part-form").style.display ="none";
    }
</script>
</html>