<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${project.projectName}"></title>
</head>
<body>
    <h1 th:text="${project.projectName}"></h1>
    <ul>
        <li th:each="p : ${project.parts}">
            <a th:href="@{${project.projectName} + '/' + ${p.partId}}" th:text="${p.partName}"></a>
        </li>
    </ul>

    <button onclick="addPart()">Add Part</button>

    <div class="part-form-popup" id="part-form" style="display:none;">
        <form class="form" action="#" th:action="@{'/projects/' + ${project.projectName}}" th:object="${newPart}" method="post">
            <h2>New Part</h2>

            <label for="partName"><b>Part Name</b></label>
            <input type="text" placeholder="Part Name" th:field="*{partName}" required />
            <br>
            <label for="partDescription"><b>Part Description</b></label>
            <input type="text" placeholder="Part Description" th:field="*{partDescription}" required />

            <button type="submit">Submit</button>
        </form>
    </div>

</body>

<script>
    function addPart(){
        document.getElementById("part-form").style.display="block";
    }
</script>
</html>