<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <link rel="stylesheet" href="projectStyle.css">
    <meta charset="UTF-8">
    <title>Projects Page</title>
</head>

<body>
    <div class="header-container">
        <h1>PROJECTS</h1>
        <button class="new-project-button" onclick="addProjectForm()">NEW PROJECT</button>
        <button class="new-module-button" onclick="addModuleForm()">UPLOAD MODULE</button>
    </div>
    <div class="button-container">
        <button class="project-button" th:each="project: ${projects}">
            <a th:href="@{'projects/' + ${project.projectName}}">
                <strong th:text="${project.projectName}"></strong>
            </a>
            <br>
            <span th:text="${project.projectDescription}"></span>
        </button>
    </div>

    <div class="projects-form-popup" id="var-form" style="display:none;">
        <form action="#" th:action="@{/projects}" th:object="${newProject}" method="post">
            <h2>NEW PROJECT</h2>

            <label for="projectName"><b>Project Name</b></label>
            <input type="text" placeholder="Project Name" th:field="*{projectName}" required />
            <br>
            <label for="projectDescription"><b>Project Description</b></label>
            <input type="text" placeholder="Project Description" th:field="*{projectDescription}" required />

            <button type="submit">Submit</button>

        </form>

        <p class="message" onclick="cancelProjectForm()">Cancel new project</p>
    </div>

    <div class="modules-form-popup" id="module-form" style="display:none;">
        <form action="#" method="post" th:action="@{/saveModule}" enctype="multipart/form-data">
            <h2>UPLOAD MODULE</h2>

            <label for="file"><b>Select File</b></label>
            <input type="file" name="file" id="file">

            <label for="publicFile"><b>File is Public</b></label>
            <input type="checkbox" name="publicFile" id="publicFile" checked="true">

            <input type="hidden" name="userId" th:value="${userId}">
            <button type="submit">Upload</button>
        </form>

        <p class="message" onclick="cancelModuleForm()">Cancel Upload</p>
    </div>
</body>

<script>
    function addProjectForm(){
        document.getElementById("var-form").style.display = "block";
    }

    function cancelProjectForm() {
        document.getElementById("var-form").style.display = "none";
    }

    function addModuleForm(){
        document.getElementById("module-form").style.display = "block";
    }

    function cancelModuleForm() {
        document.getElementById("module-form").style.display = "none";
    }
</script>
</html>