<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Home</h1>
<p>This is the users page</p>
<h2> Form </h2>
<form action="#" th:action="@{/users}" th:object="${newUser}" method="post">
    <p>Id : <input type="text" th:field="*{id}" name="id" /> </p>
    <p>Firstname: <input type="text" th:field="*{firstName}" name="firstName" /> </p>
    <p>Lastname: <input type="text" th:field="*{lastName}" name="lastName" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>
<h2>User list </h2>
<table>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    <tr th:each="user : ${usersList}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
    </tr>
</table>

</body>
</html>